name: Terraform Validation and Documentation

on:
  pull_request:
    paths:
      - '**.tf'
  workflow_dispatch:

jobs:
  run_tflint:
    name: Terraform linting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Cache plugin directory
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6.2.1

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        run: tflint -f compact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  #run_trivy:
  #  name: Terraform security scan
  #  runs-on: ubuntu-latest

  #  steps:
  #    - name: Checkout source code
  #      uses: actions/checkout@v4

  #    - name: Run Trivy
  #      uses: aquasecurity/trivy-action@master
  #      with:
  #        exit-code: 1
  #        scan-ref: .
  #        scan-type: config

  terraform_validate:
    name: Terraform format and validation
    #needs:
    #  - run_tflint
    #  - run_trivy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Detect Terraform version
        run: printf "TF_VERSION=%s" "$(cat .terraform-version)" >> "$GITHUB_ENV"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # v4.0.0
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform fmt
        run: terraform fmt -check

      - name: Terraform init
        run: terraform init

      - name: Terraform validate
        run: terraform validate -no-color

  generate_terraform_docs:
    name: Terraform docs
    needs:
      - terraform_validate
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Render terraform docs and push changes back to PR
        uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
        with:
          git-push: "true"
          output-file: README.md
          output-method: inject
          recursive: true
          working-dir: .
